@model SWnpcGenerator.Models.PlaverSavedNpc

@{
    ViewBag.Title = "Edit";
}

<div class="container body-content">
    <h2>Edit</h2>

    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row nameSpecies">
            <div class="charName col-md-3 pull-left"><h3>@Html.EditorFor(modelItem => Model.PlayerName)</h3>@Html.DisplayNameFor(model => model.PlayerName)</div>
            <div class="species col-md-3 pull-right"><h3>@Html.EditorFor(modelItem => Model.SpeciesName)</h3>@Html.DisplayNameFor(model => model.SpeciesName)</div>
        </div>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PlayerSavedId)


        <h3>Stats</h3>
            <div class="stats row">
                <div class="statInterior col-md-2">
                    <div>@Html.EditorFor(modelItem => Model.Brawn)</div>
                    <div class="brawn">Brawn</div>
                </div>

                <div class="statInterior col-md-2">
                    <div>@Html.EditorFor(modelItem => Model.Agility)</div>
                    <div class="agility">Agility</div>
                </div>

                <div class="statInterior col-md-2">
                    <div>@Html.EditorFor(modelItem => Model.Intellect)</div>
                    <div class="intellect">Intellect</div>
                </div>

                <div class="statInterior col-md-2">
                    <div>@Html.EditorFor(modelItem => Model.Cunning)</div>
                    <div class="cunning">Cunning</div>
                </div>

                <div class="statInterior col-md-2">
                    <div>@Html.EditorFor(modelItem => Model.Willpower)</div>
                    <div class="willpower">Willpower</div>
                </div>

                <div class="statInterior col-md-2">
                    <div>@Html.EditorFor(modelItem => Model.Presence)</div>
                    <div class="presence">Presence</div>
                </div>

            </div>

            <!-- Quirks should be from the random list then foreach to display them-->
            <div class="panel panel-info">
                <div class="panel-heading">Quirks</div>
                <ul class="list-group">
                    <li>@Html.EditorFor(model => model.QuirkList, new { htmlAttributes = new { @class = "list-group-item" } })</li>
                </ul>
            </div>



            <div class="row">
                <!--save button-->
                <button type="submit" value="Save" class="btn btn-info pull-left" aria-label="Left Align">
                    <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Save
                </button>
                <!--back button-->
                <button type="button" class="btn btn-danger pull-right" aria-label="Left Align" onclick="location.href='@Url.Action("SavedNPC", "Home")'">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                Back to List
                </button>
            </div>

    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
